@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323';
    font-size: 25px;
}

body {
    background-image: url(https://i.pinimg.com/originals/ba/ed/da/baeddaa8a28ed4a71df79662ffbb15f6.gif);
    background-size: cover;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
    background-color: rgb(209, 174, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 12px solid rgb(172, 205, 255);
    border-radius: 15px;
    background-image: url('background1.png');
    background-size: 300px 300px;
    background-repeat: repeat-y;
    background-position: -4px 190px;
}

.card-image {
    position: relative;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b42d0ecb-fd80-4a6d-bb80-93fe2bb02389/dg3gmm4-32123f6b-2b8b-4a8c-a763-fe37e2d5baa4.png/v1/fit/w_448,h_448,q_70,strp/swamp_battle_background_by_kingtrapinch_dg3gmm4-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDQ4IiwicGF0aCI6IlwvZlwvYjQyZDBlY2ItZmQ4MC00YTZkLWJiODAtOTNmZTJiYjAyMzg5XC9kZzNnbW00LTMyMTIzZjZiLTJiOGItNGE4Yy1hNzYzLWZlMzdlMmQ1YmFhNC5wbmciLCJ3aWR0aCI6Ijw9NDQ4In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.olmQ24A1NNuWz7AYQhWeqHZtpEH7eFBRKeQ1jhFsODg');
    background-size: cover;
    background-position: 0px -23px;
    height: 200px;
    border-bottom: 12px solid rgb(172, 205, 255);
}


.card-image img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-bottom: 10px;
}

.types {
    display: flex;
    justify-content: center;
}

.type {
    margin: 0 5px;
    margin-bottom: 10px;
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
}

.type.water {
    background-color: #6890f0;
}

.type.ground {
    background-color: #e0c068;
}

.type.normal {
    background-color: #a8a878;
}

.type.fire {
    background-color: #f08030;
}

.type.fairy {
    background-color: #ee99ac;
    padding: 5px 12px;
    border-radius: 25px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    color: #fff;
    margin: 0 5px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.add-pokemon {
    background-color: #bdffd3;
}

.btn.release-pokemon {
    background-color: #ffafde;
}

.btn:hover {
    background-color: #e9da55;
}
